@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-950 text-gray-100;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    background-color: #0f172a; /* Тъмно синьо/черно за крипто визия */
    color: #f8fafc;
  }
}
